<nav>
  <ul>
    <li><h1>Indra</h1></li>
  </ul>
</nav>

<div class="cards-container">
  <div class="card">
    <div class="services">
      <h1>Mercado</h1>
      <div class="content__cover">
        <img src="{{ mercadoImg }}" alt="" srcset="">
      </div>
      <button type="button" class="btn">Acessar</button>
    </div>
  </div>
  <div class="card">
    <div class="services">
      <h1>Quitar</h1>
      <div class="content__cover">
        <img src="{{ quitarImg }}" alt="" srcset="">
      </div>
      <button type="button" class="btn">Acessar</button>
    </div>
  </div>
  <div class="card">
    <div class="services">
      <h1>Farmacia</h1>
      <div class="content__cover">
        <img src="{{ farmaciaImg }}" alt="" srcset="">
      </div>
      <button type="button" class="btn">Acessar</button>
    </div>
  </div>
</div>
