<div class="title">
  <h1>Indra</h1>
</div>

<nav>
  <ul>
    <li><a href="#">Página Inicial</a></li>
    <li><a href="#">Sobre</a></li>
    <li><a href="#">Serviços</a></li>
    <li><a href="#">Contato</a></li>
  </ul>
</nav>

<div class="card-container">
  <div class="card">
      <div class="card-image"></div>
      <div class="card-content">
          <h2 class="card-title">Título do Card</h2>
          <p class="card-description">Lorem </p>
          <button class="card-button">Botão de Ação</button>
      </div>
  </div>
  <div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h2 class="card-title">Título do Card</h2>
        <p class="card-description">Lorem </p>
        <button class="card-button">Botão </button>
    </div>
</div>
</div>
